.newCocktailForm {
  font-family: fantasy;
  max-width:400px;
	margin:50px auto;
	background:#fff;
	border-radius:2px;
	padding:20px;
  float: left;

}

.newCocktailForm input {
  width:100%
}

.textbox {
  height: 100px;
  width: 150px
}

.addCocktailProportion {
  width: 10px;
  height: 10px
}
